/*Importing Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*Media Queries for responsive fonts*/
@media all and (max-width: 1200px) {
    body {
        font-size: 1.33vw;
    }
}
@media all and (max-width: 1000px) {
    body {
        font-size: 1.6em;
        }
}
@media all and (max-width: 500px) {
    body {
        font-size: 3.2vw;
        }
}
html {
   height: 100%;
}

/*Common styles used on both pages*/
body {
    min-height: 100%;
    background-color: #3E4551
}
h1 {
	font-family: "Open Sans";
    font-size: 40px;
}
h2 {
    font-family: "Open Sans";
    font-size: 32px;
}
h3 {
	font-family: "Open Sans";
    font-size: 28px;
}
h4 {
    font-family: "Open Sans";
    font-size: 24px
}
h5 {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
}

p li ul {
	font-family: "Open Sans";
    /* Fallback */
    font-size: 16px;
    /* For responsiveness */
	font-size: 2vmin;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loading.svg) 50% 50% no-repeat rgba(62,69,81,0.8);
}

.col-md-4 {
    margin-bottom: 5px;
}


.whiteheader {
    color: rgba(255,255,255, 1);
}
.randombg {
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    background-color: rgba(44, 62, 80, 0.32);
}

#movietitle {
    color: rgba(255,255,255, 1);
}

/*Used on index.html*/

#movies img {
    height: 220px;
    width: 150px;
}

#movies .col-md-4 img {
    height: 220px;
}
#maincontainer {
    margin-bottom: 50px;
}
#search {
    background-color: rgba(44, 62, 80, 0.32);
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
#searchbutton {
    margin-right: 5px;
}

/*Used on info.html*/

#movie .col-md-4 img {
    height: 390px;
}
#movieposter {
    margin-bottom: 15px;
    margin-top: 2.7vh;
    margin-left: 20px;
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #2b3e50;
    border: 1px solid #546575;
    border-radius: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    
}
.list-group {
    margin-bottom: 20px;
    padding-left: 0;
    padding: 25px;
}
.btn-space {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
#rowplot {
    margin-bottom: -10px;
    color: rgba(255,255,255, 1);
}

/* Navbar */
.navbar-fixed-bottom {
    bottom: -10px;
    margin-bottom: 0;
    border-width: 1px 0 0;
    background-color: rgba(44, 62, 80, 0.70);
}
.navbar-default {
    background-color: rgba(44, 62, 80, 0.70);
    border-color: transparent;
}
#top-navbar > ul > li > a:hover {
    color: #e74c3c; 
}